@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
<html>
    <body>
        Hello! I hope you have a good day.
        <b>first view</b>
    </body>
</html>
}